<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <p>You requested a password reset</p>
    <p>Click this <a href="http://localhost:3000/reset/<%=token%>">link </a>to set a new password</p>

<%- include('../includes/end.ejs') %>